body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f6f6;
}

h1{
    text-align: center;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type='text'],
input[type='password'],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

button{
    padding: 10px 15px;
    background-color: #ec9191;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}

p{
    color: red;
    font-weight: bold;
    text-align: center;
}